.main-container {
  background-color: #254866;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: #ECEBF3;
  padding-top: 1em;
}

ul {
  list-style-type: none;
}

.search-bar {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.filter-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1em;
}

@media only screen and (max-width: 600px) {
  .search-bar {
    width: 90%;
  }
}