.main-container {
  background-color: #254866;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #ECEBF3;
  padding-top: 1em;
  padding-bottom: 4em;
  padding-top: 10vh;
}

.form-div {
  margin: 0 auto;
  padding: 3em;
  overflow-x: hidden;
  text-align: center;

}

.top-form {
  width: 50vw;
  margin: 0 auto;
}

input {
  width: 100%;
  margin: 0.5em 0em 0.5em 0em;
  color: black;
}

.card {
  background-color: #254866;
  color: white;

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

h4 {
  text-align: center;
}

.save-button {
  background-color: #254866;
  align-self: center;
  color: white;
  width: 100px;
  display: inline-block;
  margin: 1em 0.5em 0em 0.5em;
  border-radius: 5px;
  border: 1px solid #254866;
  padding: 0.5em;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);

}

.save-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.lifts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.lifts-list {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.lifts-row {
  display: flex;
  align-items: flex-start;
  padding-top: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  column-count: 2;
  column-gap: 40px;
}

li {
  margin-bottom: 10px;
}

.search-bar {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.filter-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1em;
}

mat-card {
  height: 72vh;
  width: 80vw;
  background-color: #ECEBF3;
  padding: 2em;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  margin: 0 auto;
}

.search-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.search-button {
  background-color: #f75c03;
  color: #ECEBF3;
  margin: 1em 0.5em 0em 0.5em;

}

.detail-icon {
  margin: 0em 0.5em 0em 0.5em;
}

.add-icon:hover,
.detail-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 600px) {
  .search-bar {
    width: 90%;
  }

  mat-card {
    padding: 0.3em;
    margin-top: 1em;
  }

  ul {
    width: 100%;
    margin: 0 auto;
    column-count: 1;
  }
}