<div class="main-container">
  <div class="row">
    <div class="row filter-row">
      <div class="col-md-4">
        <label for="bodyPart">Filter by Muscle Group:</label>
        <select id="bodyPart" [(ngModel)]="selectedBodyPart" name="bodyPart" (change)="onBodyPartSelected()"
          class="form-control dropdown-toggle" data-toggle="dropdown" aria-placeholder="Select Muscle Group">
          <option>All</option>
          <option>Back</option>
          <option>Chest</option>
          <option>Lower Arms</option>
          <option>Upper Arms</option>
          <option>Chest</option>
          <option>Lower Legs</option>
          <option>Upper Legs</option>
          <option>Waist</option>
          <option>Shoulders</option>
          <option>Cardio</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="bodyPart">Filter by Equipment:</label>
        <select class="form-control dropdown-toggle" [(ngModel)]="selectedEquipment" (change)="onEquipmentSelected()"
          id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          aria-placeholder="Select Equipment">
          <option>Select Equipment</option>
          <option>Body weight</option>
          <option>Dumbbell</option>
          <option>Barbell</option>
          <option>Leverage Machine</option>
          <option>Band</option>
          <option>Cable</option>
          <option>Bosu Ball</option>
          <option>Kettlebell</option>
        </select>
      </div>
    </div>
  </div>

  <mat-card class="mt-4">
    <div class="col-md-12 mt-2">
      <input type="text" class="form-control search-bar" placeholder="Search...">
    </div>
    <div *ngIf="lifts.length != 0">
      <ul class="mt-4">
        <li *ngFor="let lift of lifts">
          <span style="color: black;">
            <img src="/assets/plus.png" alt="Add" class="img-fluid rounded-circle add-icon"
              style="width: 20px; height: 20px;">
            <a [routerLink]="['/lift', lift.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor"
                class="bi bi-search detail-icon" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
              </svg>
            </a>
            {{ lift.name | titlecase}}
          </span>
        </li>
      </ul>
    </div>
  </mat-card>

</div>