.form-div {
  background-color: #ECEBF3;
  margin-top: 2em;
  padding-top: 1em;
}

label {
  font-weight: bold;
  padding: 6px;
}

button {
  background-color: #F75C03;
  color: white;

}

.col-md-10 {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}