<div class="overlay-container">
  <div class="container-fluid main-header">
    <div class="row">
      <div class="container col-sm-6 main-header-text">
        <h1>Log your workouts.</h1>
        <h1>Track your progress.</h1>
      </div>
      <div class="container col-sm-6 right-column">
        <button class="btn header-button" routerLink="/login">Get started</button>
      </div>
    </div>
  </div>

  <div class="container-fluid info-container">
    <div class="row">
      <div class="col-sm-12 col-md-6 site-desc-container">
        <h3 class="text-center" style="color: #f75c03;">Why Workaholic?</h3>
        <div class="text-container">
          <p>
            Workaholic is a simple, easy to use, and free way to <span class="bold-text">track your workouts</span>.
            It's
            designed to be used on your phone
            or computer, so you can track your workouts anywhere.
          </p>
          <p>
            Workaholic is designed to be <span class="bold-text">simple and easy to use</span>. It's not designed to be
            a
            social media platform, or a
            community. It's designed to be a tool to help you track your workouts.
          </p>
          <p>
            Workaholic is <span class="bold-text">free</span> to use, and always will be.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 img-container">

      </div>
    </div>
  </div>

  <div class="container-fluid info-container">
    <div class="row">
      <div class="col-sm-12 col-md-6 left-img-container">

      </div>
      <div class="col-sm-12 col-md-6 benefits-container">
        <h3 class="text-center" style="color: #f75c03;">Benefits</h3>
        <div class="text-container">

          <span class="bold-text">Achieve your fitness goals-</span>
          <p>With custom routines and progress tracking, you'll be on the path to reaching your desired fitness level
            faster
            and more efficiently.</p>
          <span class="bold-text">Stay Motivated-</span>
          <p>The ability to see your progress and share achievements with the community keeps you motivated and
            accountable.
          </p>
          <span class="bold-text">Gain Valuable Insights-</span>
          <p>Analyze your progress with visual charts and graphs, allowing you to make data-driven decisions to improve
            your
            workouts.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid footer">
    <h4 style="padding-bottom: 1em;">Sign up for a free account and start tracking your workouts today!</h4>
    <button class="btn footer-button" routerLink="/login">Create an account</button>
  </div>
</div>