<body class="bg-gradient-to-r from-customBlue to-customBlack min-h-screen">
  <header class="min-h-[30vh] grid place-content-center text-customBeige">
    <div class="place-content-center text-5xl">
      <p>Welcome to Workaholic!</p>
    </div>
  </header>
  <div class="">
    <form>
      <uL class="grid place-content-center">
        <li routerLink="/login" routerLinkActive="active">
          <button
            class="text-4xl underline text-customBeige hover:text-customOrange"
          >
            Login Here
          </button>
        </li>
      </uL>
    </form>
    <div class="flex">
      <div class="grid m-5">
        <a
          class="block max-w-sm p-6 bg-gradient-to-tr from-customOrange to-customBeige border border-customBlack rounded-lg shadow"
          routerLink="/login"
          routerLinkActive="active"
        >
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Create exercies routines!
          </h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
            atque, esse corrupti nisi perspiciatis ducimus labore quisquam
            magni! Voluptatem, libero!
          </p>
        </a>
      </div>
      <div class="grid m-5">
        <a
          class="block max-w-sm p-6 bg-gradient-to-tr from-customOrange to-customBeige border border-customBlack rounded-lg shadow"
          routerLink="/login"
          routerLinkActive="active"
        >
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Track your workout goals!
          </h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nobis
            eos quidem consectetur harum, aperiam dignissimos minima! Atque,
            porro accusantium?
          </p>
        </a>
      </div>
      <div class="grid m-5">
        <a
          class="block max-w-sm p-6 bg-gradient-to-tr from-customOrange to-customBeige border border-customBlack rounded-lg shadow"
          routerLink="/login"
          routerLinkActive="active"
        >
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Hundreds of exercises to choose from!
          </h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
            perferendis explicabo facere vero earum enim aliquam libero ratione,
            soluta iste?
          </p>
        </a>
      </div>
    </div>
  </div>
</body>
