// .mainnav {
//   background: rgb(10, 115, 156);
// }

// /* Component Buttons */
// li {
//   font-size: 50px;
// }

// /* Search Inputs */
// .search {
//   display: flex;
// }

// .searchField {
//   display: flex;
// }

// .searchButton {
//   width: 10vh;
//   margin-left: 10px;
//   justify-content: center;
// }

// /* Profile */

// .profileImage {
//   margin-left: 10px;
// }
